body {
    background-color:#50e3c2;
}
.container {
    font-family: 'Baloo Paaji 2', cursive;
    color: #48494B;
    background-color: #f7f7f7;
    box-sizing: border-box;
    width: 300px;
    margin: 50px auto;
    padding: 2px 30px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

h1 {
    text-align: center;
}

.todo {
    width: 100%;
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    height: 30px;  
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0px auto;
}

#task {
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    width: 80%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0 0 0 4px;
}

#add {
    font-family: inherit;
    font-weight: 600;
    color: #f7f7f7;
    width: 20%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #CC397B;
}

.todos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

.buttons {
    position: absolute;
    right: 0px;
    display: inline-block;
}

.delete-button {
    height: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.tick-button {
    height: 20px;
    cursor: pointer;
}
